
@import '_colors'
@import '_variables'

.breadcrumb
  &--root
    base-style-for-entry-header()
    padding: 0 0 8px 0
    margin-top: -(margin-bottom-for-entry-title)
  &--row
    margin: 2px auto
  &--urlprop
    border: none !important
    background-color: inherit !important
    color: white
  &--child:before
    content: '>'
    margin: 0 6px
