
@import '_colors'
@import '_variables'

.breadcrumb
  &--root
    border-top: #FEE9D7 solid 2px
    border-right: #D6B8A7 solid 5px
    border-bottom: #ECD6B8 solid 4px
    padding: 4px 0
    background-color: #F9F6ED
    border-radius: 3px
    margin: -10px auto 20px
    box-sizing: border-box
    font-size: 80%
  &--row
    margin: 2px auto
  &--urlprop
    color: black
    border: none !important
    background-color: inherit !important
  &--child:before
    content: '>'
    margin: 0 6px
