
white = #FFFFFF
rich-white = #FEFEFE
black = #454545
blood-red = #B03645
more-black = #171717
gray = #B5B5B5
light-gray = #EDEDED

blue-black = #3C465C
blue-gray = #557279
twitter-blue = #55ACEE
facebook-blue = #3274BD
rss-green = #75CA1C
pocket-pink = #E54889

yellow-button-color = #FFBA1C

link-color = #1487bd
no-blue-link-color = #3F1C03
base-color = #F4F3EC
header-bg-color = #69553C

