@import '_colors'

fonts-for-title = 'Helvetica Neue', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif

margin-bottom-for-entry-title = 20px

base-style-for-entry-header()
  box-sizing: border-box
  color: #530E0E
