@import '_colors'

fonts-for-title = 'Helvetica Neue', 'Arial', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', Meiryo, sans-serif

margin-bottom-for-entry-title = 20px

base-style-for-entry-header()
  background-color: rgba(43,22,8,0.84)
  border-left: 2px solid sulfur
  box-sizing: border-box
  color: white
  text-indent: 7px
